@import "../pages/variables.scss";

.dataTable {
	.dataGrid {
		background-color: whitesmoke;
		padding: 20px;

		img {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			object-fit: cover;
		}
	}
}

#deleteButton {
	cursor: pointer;
	background-color: transparent;
	border: none;
	
}

#deleteIcon {
	color: rgb(203, 29, 29);
	width: 30px;
	height: 30px;
	background-color: transparent;
	padding: 5px;
	//smooth transition: 
	transition: width 0.3s, height 0.3s;
}		

#eyeIcon {
	color: rgb(118, 185, 73);
	width: 30px;
	height: 30px;
	background-color: transparent;	
	padding: 5px;
	transition: width 0.3s, height 0.3s;
}
//set hover
#deleteIcon:hover {
	width: 35px;
	height: 35px;
}
#eyeIcon:hover {
	width: 35px;
	height: 35px;
}