.chat-window {
	position: absolute;
    bottom: 2px;
    right: 2px;
    width: 50vh;
    height: 35vh;
    border: 1px solid #000;
	background-color: lightgray;
	color:#000;
	transition: width 0.5 ease-in-out;
	opacity: 1;
	border-radius: 10px;
	z-index: 0;
}
.hide-chat {
	position: absolute;
	top: 65vh; /* Ajustez cette valeur en fonction de la taille de votre bouton */
	right: 6px;
	border-radius: 9px;
	background-color: #ce2b2b83;
	height: 30px;
	z-index: 1;
}
.hidden{
	width: 0;
	transition-property: width;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.message {
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
	background-color: #f5f5f5;
}
.private {
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
	background-color: #ffea00;
	color: red;
}
.message-time {
	float: right;
    color: blue;
}


.chat-header {
	height: 10%;
    cursor: pointer;
}

.chat-body {
	height: 90%;
    overflow-y: auto;
}

.chat-input-field{
	border-radius: 10px;
	width:100%;
	
}
.private-input-field{
	border-radius: 10px;
	width:100%;
}

.chat-message {
	word-wrap: break-word;
}

.chat-username {
	font-weight: bold;
	color:rgb(166, 0, 255);
}

.invite{
	color: rgb(255, 0, 21);
}

.invite.link{
	color: rgb(0, 26, 255);
	
}

