.chat-window {
    position: fixed;
    bottom: 30px;
    right: 0;
    width: 240px;
    height: 400px;
    border: 1px solid #000;
	background-color: lightgray;
	color:#000;
    transition: width 0.3s ease-in-out;
	border-radius: 10px;
}



.message {
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
	background-color: #f5f5f5;

}
.message-time {
    float: right;
    color: blue;
}



.chat-header {
    height: 50px;
    /* background-color: #f5f5f5; */
    cursor: pointer;
}

.chat-body {
    height: 350px;
    overflow-y: auto;
}

.chat-input {
	position: fixed;
    bottom: 0px;
    right: 0px;

	/* background-color: #f5f5f5; */
	transition: width 0.3s ease-in-out;
	border-radius: 10px;
}
.chat-message {
    word-wrap: break-word;
}

.chat-username {
	font-weight: bold;
	color:rgb(166, 0, 255);
}

