@import "./variables.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


a {
	text-decoration: none;
	color: inherit;
}

.dashboard {
	font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	background-color: $main-bg;
	color: $main-color;
}

.Container {
	display: flex;
}

.sidebarContainer {
	padding: 10px 0px;
	// border-right: 2px solid $soft-bg;
}

.pageContainer {
	padding: 0px 0px;
	width: 100%;
}

