// BG
$main-bg: #2a3447;
$soft-bg: #dadee6;
$dark-bg: #222b3c;
$white-bg: white;
//TEXT
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;

$title-font: 'Roobert', sans-serif;

$title-font-weight: 600;
$title-font-size: 25px;

$font-weight: 300;
$font-size: 20px;