/* .navbar {
	position: fixed;
	top: 0;
	width: 94%;
	margin-top:0%;
	margin-left: 3%;

}
.d-flex .flex-column {
	display: flex;
	flex-direction: column;
}
.navbar-nav .nav-item {
	margin-right: 10px;
	align-content: center;
}
.navbar-nav {
	display: flex;
	align-items: center;
}
.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar a.navbar-brand {
	font: small-caps bold 20px/2;
	font-size: 30px;
} */
/* .navbarCustom {
	top: 0;
	width: 100%;
	margin-top:0%;
	margin-left: 0%;
	background-color: #f8f9fa;
} */

.container  {
	/* width: 100%; */
	/* max-width: 90%; */
}
.navCustom {
	display: flex;
	justify-content: center;
	transition-duration: 0.4s;
	background-color: transparent;
	align-items: center;
	color : #1b191c;
	font-size: 16px; /* Adjust as needed */
	font-weight: 500;
	font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-weight: regular;
	min-height: 60px;
	min-width:  40px;
	border-radius: 0.375rem;
	width: 120px;
	padding: 16px 10px;

	text-decoration: none;
	text-align: center;
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	will-change: transform;
	/* border: 2px solid #1A1A1A;
	border-radius: 3px; */
  }
  
  .navCustom:hover {
	color: #fff;
	background-color: #1A1A1A;
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
	transform: translateY(-2px);
  }

  
  .navCustom:disabled {
	pointer-events: none;
  }
  
  .navCustom:active {
	box-shadow: none;
	transform: translateY(0);
  }

  .logoName {
	font-weight: bold;
	outline: none;
	font-size: 30px;
  }

  .logoName:hover {
	font-weight: bold;
	text-shadow: none;
	font-size: 30px;
  }

  @media (max-width: 990px) {
	.navCustom {
	  width: auto;
	}
  }

  .playButton:hover {
	color: #fff;
	background-color: #e95511;
	font-size: 20px;
	font-weight: bold;
  }

  .logoutCustom{
	border:none;
	color: #b3a7a7;
	background-color: transparent;
	font-size: 20px;
	font-weight: regulat;
  }

  .logoutCustom:hover {
	border:none;
	color: #fff;
	background-color: #d01410;
	font-size: 20px;
	font-weight: bold;
  }

.dropCustom .dropdown-menu {
	
	/* flex-direction: column; */
	background-color: #f8f9fa;
	/* justify-content: center; */
	text-align: center;
	align-items: center;
	/* margin-top: 50px; */
	border: none;
	/* margin-right: 300px; */
	max-width: 50px;
	min-height: 100px;
	border-radius: 0.5rem;
	margin: 0;
}

.dropCustom .dropdown-menu a {
	color: #1b191c;
	background-color: transparent;
	font-size: 16px;
	font-weight: 500;
	font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-weight: regular;
	min-height: 60px;
	min-width:  40px;
	border-radius: 0.2rem;
	width: 140px;
	padding: 16px 10px;
	margin-inline: 10px;
	text-decoration: none;
	/* text-align: center; */
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	will-change: transform;
}

.dropCustom .dropdown-menu a:hover {
	color: #fff;
	background-color: #1A1A1A;
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
	transform: translateY(-2px);
	font-weight: 800;
}

