.navbar {
	position: fixed;
	top: 0;
	width: 94%;
	margin-top:3%;
	margin-left: 3%;

}
.d-flex .flex-column {
	display: flex;
	flex-direction: column;
}
.navbar-nav .nav-item {
	margin-right: 10px;
	align-content: center;
}
.navbar-nav {
	display: flex;
	align-items: center;
}
.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar a.navbar-brand {
	font: italic small-caps bold 20px/2 cursive;
	font-size: 30px;
}